body {
    margin: 0;
}
* {
    box-sizing: border-box;
    user-select: text;
}

.navbar {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: row;
}
nav a {
    padding-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #5f6368;
    font-weight: 400;
    padding: 12px;
}
nav a:hover {
    background-color: #f1f5f9;
    border-radius: 5px;
}
nav img {
    margin-top: 30px;
    margin-left: 20px;
    width: 75.09px;
    height: 25.3px;
}

nav img:hover {
    cursor: pointer;
    display: block;
}

.blue {
    color: #4285f4;
}
.red {
    color: #ea4335;
}
.green {
    color: #34a853;
}
.yellow {
    color: #f9ab00;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.title h1 {
    text-align: center;
    font-weight: 510;
     font-size: 28px;
    line-height: 36px;
    letter-spacing: -1px;
}
.galaxy img {
    margin-left: 420px;
    margin-top: 30px;
}
.galaxy h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 510;
}
.galaxy a {
    margin-left: 870px;
    text-decoration: none;
}
.title2 h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 400;
}
.title2 .btu {
    text-align: center;
}
.button1 {
    width: 182.16px;
    height: 50px;
    background-color: #1a73e8;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    
}
.button1:hover {
    background-color: #1e40af;
}
.button2 {
    width: 157.47px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #1a73e8;
    margin-left: 20px;
    border: none;
}
.button2:hover{
    background-color: #f8fafc;
    border: solid 1px #1a73e8;
}

.title2 .left {
    margin-top: 80px;
    margin-left: 400px;
}
.title2 .right {
    margin-left: 90px;
    margin-bottom: 8px;
}
.title2 h3 {
    text-align: center;
}