/* reset */
body {
    margin: 0 auto;
    padding: 0;
}

/* header */
header {
    width: 100%;
    height: 100px;
    display: flex;
}
header > nav.left {
    width: 10%;
    margin-top: 10px;
    margin-left: -20px;
}
header > div {
    width: 70%;
}
header > nav.right {
    width: 20%;
    text-align: right;
    margin-top: 0;
}
ul {
    list-style: none;
}
li {
    display: contents;
}
button {
    width: 100px;
    height: 40px;
    background-color: #1A73E8;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border:none;
}

/* section */
section {
    width: 100%;
    height: 600px;
}
img {
    top: 200%;
    left: 50%;
    transform: translate(-5%, 30%);
}
section > img {
    margin-left: 46%;
    margin-top: 5%;

}
.logo {
    display: block;
    width: 300px;
    height: 100px;
}
.search {
    width: 620px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    margin-top: 60px;
    margin-left: 690px;
    border: solid 0.5px #ccc;
}
.close {
    
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
}
textarea {
    
    border: none;
}

.tool {
    vertical-align: top;
         
}

/* footer */
footer {
    width: 100%;
    height: 150px;
    background-color: #ccc;
    margin-bottom: 0;
}
div > ul > .country {
    font-size: 20px;
}
.left {
    margin-top: 20px;
}
.right {
    margin-left: 30px;
}